
{% load staticfiles %}

<html>
    <head>
        <title>Aplicaciones</title>
        
        <link rel="stylesheet" href="{% static 'css/miestilo.css' %}">
    </head>
    <body>
        <div class="page-header">
             <h1><a href="/">Sistema Multifuncional Administrativo - SMA -</a></h1>
        </div>

        <div>
            <
            <h2><a href="">Sistema Administrador</a></h2>
            <p>Verificar Nuestros Sistemas administrativos</p>
        </div>

        <div class="post">
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    </body>
</html>